
$opDoneTodo: 0.4;

//=====================================

$darkModel-BG: #2c2d31;
$darkModel-BGLinear: linear-gradient(145deg, #2C2D31 0%, #262729 110%);
$darkModel-Green: #1dcba8;
$darkModel-White: #b8bac0;
$darkModel-Red: rgb(236, 63, 63);

$darkModel-LightShadow: rgba(75, 75, 75, 0.25);
$darkModel-DarkShadow: rgba(37, 37, 37, 1);

// Dark Model Colors
//====================================

$lightModel-BG: #edeff3;
$lightModel-BGLinear: 
  linear-gradient( 145deg, 
  #f0f2f7 20%, 
  #e8eaf0 100%
  );

$lightModel-Orange: #f1b072;
$lightModel-Grey:#8a94aa;
$lightModel-Red: rgb(236, 63, 63);

$lightModel-LightShadow: rgba(255, 255, 255, 0.5);
$lightModel-DarkShadow: rgba(187, 187, 187, 0.26);

// Light Model Colors
//====================================