@import "./values";
@import "./themes.scss";

html {
  margin: 0;
  padding: 0;

  width: 100%;
  height: 100%;
  scroll-behavior: none;
  &::-webkit-scrollbar {
    width: 0 !important;
  }
  scrollbar-width: none;
}
* {
  box-sizing: border-box;
  letter-spacing: 0.8px;
  font-weight: 400;
}
.container {
  margin: 0 auto;
  width: 600px;
}
.background {
  width: 100%;
  height: 100%;

  z-index: -666;
  position: fixed;
  left: 0;
  top: 0;
}
.app {
  min-height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 15px;
  padding-bottom: 10px;

  border-radius: 15px;

  margin-top: 15px;

  .active-button-del {
    cursor: inherit !important;
  }
  .theme-selector {
    position: absolute;
    right: 10px;
    top: 10px;

    display: flex;

    .theme-selector-btn {
      width: 20px;
      height: 20px;
      border-radius: 5px;

      margin-left: 5px;

      cursor: pointer;
      transition: 0.3s;
    }
    .theme-selector-theme-arr {
      .theme {
        transition: 0.2s;
        cursor: pointer;
        user-select: none;
        padding: 5px;
        text-transform: uppercase;
      }
    }
  }
  .new-todo-input {
    width: 100%;
    margin-top: 15px;

    display: flex;
    justify-content: space-between;

    .text-input {
      width: 86%;
      transition: 0.05s;
      overflow-y: hidden;

      border: none;
      border-radius: 25px;
      padding: 0px 20px;
      padding-top: 14px;

      font-size: 16px;
      resize: none;

      &:focus {
        outline: none;
      }
    }
    .submit-button {
      height: 50px;
      width: 50px;

      border-radius: 50%;

      display: flex;
      justify-content: center;
      align-items: center;

      font-size: 35px;
      cursor: pointer;

      user-select: none;

      svg {
        transform: translate(-3px, -1px);
        transition: 0.3s;
      }

      &:hover > svg {
        transform: rotate(-90deg);
      }
    }
  }
  .filter {
    width: 100%;
    margin-top: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .filter-info {
      display: flex;
      justify-content: space-between;
      user-select: none;

      font-size: 18px;

      border-radius: 150px;
      padding: 10px 20px;
      width: 180px;
    }

    .filter-btn {
      display: flex;
      div {
        border-radius: 150px;
        padding: 10px 20px;
        margin: 0 10px;

        text-transform: uppercase;

        user-select: none;
        cursor: pointer;
      }
    }
  }
  .todo-list {
    width: 100%;
    min-height: 50px;

    margin-top: 25px;

    .done-todo {
      // opacity: 0.5;
      textarea {
        text-decoration: line-through;
      }
    }

    .no-todo {
      width: 100%;
      margin-top: 10px;
      text-align: center;
      user-select: none;
      opacity: 0;

      animation: show-no-todo-text 0.2s 0.5s ease-out 1 forwards;
    }
    .todo-list-item {
      width: 100%;
      min-height: 150px;
      border-radius: 15px;
      padding: 10px 15px;
      margin-bottom: 20px;

      display: flex;
      flex-direction: column;
      align-items: center;

      position: relative;

      .todo-modal-del {
        position: absolute;
        top: 0;
        right: -210px;

        transition: 0.2s !important;

        display: flex;
        align-items: center;
        border: 2px solid;
        border-radius: 7px;
        padding: 10px;

        user-select: none;

        div {
          transition: 0.2s;
          margin-left: 10px;
          padding: 7px;
          border: 2px solid;
          border-radius: 7px;
          cursor: pointer;
        }
      }
      .todo-list-item-top {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .todo-list-item-date {
          width: 50%;
          opacity: 0.4;
          margin-left: 10px;
        }

        .todo-list-item-btn {
          display: flex;
          justify-content: flex-end;

          div {
            width: 40px;
            height: 40px;
            margin: 0 10px;
            border-radius: 50%;

            display: flex;
            justify-content: center;
            align-items: center;

            user-select: none;
            cursor: pointer;
          }
        }
      }

      .todo-list-item-line {
        height: 5px;
        width: 100%;
        margin: 15px 0;
        border-radius: 15px;
        transition: 0.1s ease-out;
      }

      .content {
        width: 100%;
        margin-top: 10px;
        padding: 15px;
        padding-right: 25px;
        padding-bottom: 0;
        white-space: pre-wrap;

        border-radius: 15px;

        textarea {
          width: 100%;
          height: 100%;
          resize: none;
          outline: none;
          background: none;
          border: none;
          color: inherit;

          font-size: 16px;
        }

        .edit-mode {
          position: absolute;
          right: 22px;
          bottom: 20px;

          transition: 0.2s;

          cursor: pointer;
          opacity: 0.15;

          &:hover {
            opacity: 1;
          }
        }
        .edit-mode-active {
          opacity: 1;
          right: -62px;
          font-size: 25px;
        }
      }
    }
  }
}

.show-new-todo-enter {
  opacity: 0;
}
.show-new-todo-enter-done {
  transition: 0.3s;
  opacity: 1;
}
.show-new-todo-exit {
  transition: 0.3s;
  transition-delay: 0s !important;
}
.show-new-todo-exit-active {
  opacity: 0;
}

.show-modal-enter {
  opacity: 0;
}
.show-modal-enter-active {
  opacity: 1;
}
.show-modal-exit-active {
  opacity: 0;
}

.show-theme-btn-enter {
  opacity: 0;
  transform: translateX(20px);
}
.show-theme-btn-enter-done {
  opacity: 1;
  transform: translateX(0px);
}
.show-theme-btn-exit-active {
  opacity: 0;
  transform: translateX(20px);
}

@keyframes show-no-todo-text {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}
