@import "./values";

@mixin boxShadow($light, $shadow) {
  box-shadow: 5px 5px 10px 1px $shadow, -5px -5px 10px 1px $light;
}
@mixin boxShadowInset($light, $shadow) {
  box-shadow: inset 5px 5px 10px 1px $shadow, inset -5px -5px 10px 1px $light !important;
}
@mixin textLight($color) {
  text-shadow: 0px 0px 7px $color;
}

//=========================================================

.darkModel {
  font-family: "Blinker", sans-serif;
  color: $darkModel-White;

  @include boxShadow($darkModel-LightShadow, $darkModel-DarkShadow);

  .background {
    background: $darkModel-BG;
  }

  .activeButton {
    @include boxShadowInset($darkModel-LightShadow, $darkModel-DarkShadow);
    @include textLight($darkModel-Blue);

    color: $darkModel-Blue;
  }
  .activeButtonDel {
    @include boxShadowInset($darkModel-LightShadow, $darkModel-DarkShadow);
    color: $darkModel-Red;
  }

  .ThemeSelector {
    .ThemeSelectorBtn {
      background: $darkModel-White;

      &:hover {
        background: $darkModel-Blue;
      }
    }
    .Theme {
      &:hover {
        color: $darkModel-Blue;
      }
    }
  }

  .NewTodoInput {
    .textInput {
      background: $darkModel-BGLinear;

      color: $darkModel-Blue;

      @include boxShadowInset($darkModel-LightShadow, $darkModel-DarkShadow);
    }
    .submitButton {
      background: $darkModel-BG;

      @include boxShadow($darkModel-LightShadow, $darkModel-DarkShadow);

      &:hover > svg {
        color: $darkModel-Blue;
      }
    }
  }

  .Filter {
    .FilterInfo {
      @include boxShadowInset($darkModel-LightShadow, $darkModel-DarkShadow);
      background: $darkModel-BGLinear;

      span {
        font-weight: 600;
        color: $darkModel-Blue;
        @include textLight($darkModel-Blue);
      }
    }
    .FilterBtn {
      div {
        transition: 0.5s;
        background: $darkModel-BG;

        @include boxShadow($darkModel-LightShadow, $darkModel-DarkShadow);
      }
    }
  }

  .TodoList {
    .TodoListItem {
      @include boxShadow($darkModel-LightShadow, $darkModel-DarkShadow);
      .ToDoModalDel {
        div {
          &:hover {
            color: $darkModel-Blue;
            border-color: $darkModel-Blue;
          }
        }
      }
      .TodoListItemBtn {
        div {
          @include boxShadow($darkModel-LightShadow, $darkModel-DarkShadow);
          transition: 0.3s;
        }
        .delBtn {
          transition: 0.2s;
          &:hover {
            color: $darkModel-Red;
            @include textLight($darkModel-Red);
          }
        }
      }
      .TodoListItemLine {
        @include boxShadow($darkModel-LightShadow, $darkModel-DarkShadow);
      }
      .importantLine {
        background: $darkModel-Blue;
        box-shadow: 0 0 10px $darkModel-Blue;
      }

      .content {
        @include boxShadowInset($darkModel-LightShadow, $darkModel-DarkShadow);
      }
    }
  }
}

.lightModel {
  font-family: "Blinker", sans-serif;
  color: $lightModel-Grey;

  @include boxShadow($lightModel-LightShadow, $lightModel-DarkShadow);

  .background {
    background: $lightModel-BG;
  }

  .activeButton {
    @include boxShadowInset($lightModel-LightShadow, $lightModel-DarkShadow);
    @include textLight($lightModel-Orange);
    color: $lightModel-Orange;
  }

  .activeButtonDel {
    @include boxShadowInset($lightModel-LightShadow, $lightModel-DarkShadow);
    color: $lightModel-Red;
  }

  .ThemeSelector {
    .ThemeSelectorBtn {
      background: $lightModel-Grey;

      &:hover {
        background: $lightModel-Orange;
      }
    }
    .Theme {
      &:hover {
        color: $lightModel-Orange;
      }
    }
  }

  .NewTodoInput {
    .textInput {
      background: $lightModel-BGLinear;

      color: $lightModel-Orange;

      @include boxShadowInset($lightModel-LightShadow, $lightModel-DarkShadow);
    }
    .submitButton {
      background: $lightModel-BG;

      @include boxShadow($lightModel-LightShadow, $lightModel-DarkShadow);

      &:hover > svg {
        color: $lightModel-Orange;
      }
    }
  }

  .Filter {
    .FilterInfo {
      @include boxShadowInset($lightModel-LightShadow, $lightModel-DarkShadow);
      background: $lightModel-BGLinear;

      span {
        font-weight: 600;
        color: $lightModel-Orange;
        @include textLight($lightModel-Orange);
      }
    }
    .FilterBtn {
      div {
        transition: 0.5s;
        background: $lightModel-BG;

        @include boxShadow($lightModel-LightShadow, $lightModel-DarkShadow);
      }
    }
  }

  .TodoList {
    .TodoListItem {
      @include boxShadow($lightModel-LightShadow, $lightModel-DarkShadow);

      .ToDoModalDel {
        div {
          &:hover {
            color: $lightModel-Orange;
            border-color: $lightModel-Orange;
          }
        }
      }

      .TodoListItemBtn {
        div {
          @include boxShadow($lightModel-LightShadow, $lightModel-DarkShadow);
          transition: 0.3s;
        }
        .delBtn {
          transition: 0.2s;
          &:hover {
            color: $lightModel-Red;
            @include textLight($lightModel-Red);
          }
        }
      }
      .TodoListItemLine {
        @include boxShadow($lightModel-LightShadow, $lightModel-DarkShadow);
      }
      .importantLine {
        background: $lightModel-Orange;
        box-shadow: 0 0 5px $lightModel-Orange;
      }
      .content {
        @include boxShadowInset(
          $lightModel-LightShadow,
          $lightModel-DarkShadow
        );
        background: $lightModel-BGLinear;
      }
    }
  }
}
