@import "./values";

@mixin boxShadow($light, $shadow) {
  box-shadow: 5px 5px 10px 1px $shadow, -5px -5px 10px 1px $light;
}
@mixin boxShadowInset($light, $shadow) {
  box-shadow: inset 5px 5px 10px 1px $shadow, inset -5px -5px 10px 1px $light !important;
}
@mixin textLight($color) {
  text-shadow: 0px 0px 7px $color;
}

//=========================================================

.dark-model {
  font-family: "Blinker", sans-serif;
  color: $darkModel-White;

  @include boxShadow($darkModel-LightShadow, $darkModel-DarkShadow);

  .background {
    background: $darkModel-BG;
  }

  .active-button {
    @include boxShadowInset($darkModel-LightShadow, $darkModel-DarkShadow);
    @include textLight($darkModel-Blue);

    color: $darkModel-Blue;
  }
  .active-button-del {
    @include boxShadowInset($darkModel-LightShadow, $darkModel-DarkShadow);
    color: $darkModel-Red;
  }

  .theme-selector {
    .theme-selector-btn {
      background: $darkModel-White;

      &:hover {
        background: $darkModel-Blue;
      }
    }
    .theme {
      &:hover {
        color: $darkModel-Blue;
      }
    }
  }

  .new-todo-input {
    .text-input {
      background: $darkModel-BGLinear;

      color: $darkModel-Blue;

      @include boxShadowInset($darkModel-LightShadow, $darkModel-DarkShadow);
    }
    .submit-button {
      background: $darkModel-BG;

      @include boxShadow($darkModel-LightShadow, $darkModel-DarkShadow);

      &:hover > svg {
        color: $darkModel-Blue;
      }
    }
  }

  .filter {
    .filter-info {
      @include boxShadowInset($darkModel-LightShadow, $darkModel-DarkShadow);
      background: $darkModel-BGLinear;

      span {
        font-weight: 600;
        color: $darkModel-Blue;
        @include textLight($darkModel-Blue);
      }
    }
    .filter-btn {
      div {
        transition: 0.5s;
        background: $darkModel-BG;

        @include boxShadow($darkModel-LightShadow, $darkModel-DarkShadow);
      }
    }
  }

  .todo-list {
    .todo-list-item {
      @include boxShadow($darkModel-LightShadow, $darkModel-DarkShadow);
      .todo-modal-del {
        div {
          &:hover {
            color: $darkModel-Blue;
            border-color: $darkModel-Blue;
          }
        }
      }
      .todo-list-item-btn {
        div {
          @include boxShadow($darkModel-LightShadow, $darkModel-DarkShadow);
          transition: 0.3s;
        }
        .del-btn {
          transition: 0.2s;
          &:hover {
            color: $darkModel-Red;
            @include textLight($darkModel-Red);
          }
        }
      }
      .todo-list-item-line {
        @include boxShadow($darkModel-LightShadow, $darkModel-DarkShadow);
      }
      .important-line {
        background: $darkModel-Blue;
        box-shadow: 0 0 10px $darkModel-Blue;
      }

      .content {
        @include boxShadowInset($darkModel-LightShadow, $darkModel-DarkShadow);
      }
    }
  }
}

.light-model {
  font-family: "Blinker", sans-serif;
  color: $lightModel-Grey;

  @include boxShadow($lightModel-LightShadow, $lightModel-DarkShadow);

  .background {
    background: $lightModel-BG;
  }

  .active-button {
    @include boxShadowInset($lightModel-LightShadow, $lightModel-DarkShadow);
    @include textLight($lightModel-Orange);
    color: $lightModel-Orange;
  }

  .active-button-del {
    @include boxShadowInset($lightModel-LightShadow, $lightModel-DarkShadow);
    color: $lightModel-Red;
  }

  .theme-selector {
    .theme-selector-btn {
      background: $lightModel-Grey;

      &:hover {
        background: $lightModel-Orange;
      }
    }
    .theme {
      &:hover {
        color: $lightModel-Orange;
      }
    }
  }

  .new-todo-input {
    .text-input {
      background: $lightModel-BGLinear;

      color: $lightModel-Orange;

      @include boxShadowInset($lightModel-LightShadow, $lightModel-DarkShadow);
    }
    .submit-button {
      background: $lightModel-BG;

      @include boxShadow($lightModel-LightShadow, $lightModel-DarkShadow);

      &:hover > svg {
        color: $lightModel-Orange;
      }
    }
  }

  .filter {
    .filter-info {
      @include boxShadowInset($lightModel-LightShadow, $lightModel-DarkShadow);
      background: $lightModel-BGLinear;

      span {
        font-weight: 600;
        color: $lightModel-Orange;
        @include textLight($lightModel-Orange);
      }
    }
    .filter-btn {
      div {
        transition: 0.5s;
        background: $lightModel-BG;

        @include boxShadow($lightModel-LightShadow, $lightModel-DarkShadow);
      }
    }
  }

  .todo-list {
    .todo-list-item {
      @include boxShadow($lightModel-LightShadow, $lightModel-DarkShadow);

      .todo-modal-del {
        div {
          &:hover {
            color: $lightModel-Orange;
            border-color: $lightModel-Orange;
          }
        }
      }

      .todo-list-item-btn {
        div {
          @include boxShadow($lightModel-LightShadow, $lightModel-DarkShadow);
          transition: 0.3s;
        }
        .del-btn {
          transition: 0.2s;
          &:hover {
            color: $lightModel-Red;
            @include textLight($lightModel-Red);
          }
        }
      }
      .todo-list-item-line {
        @include boxShadow($lightModel-LightShadow, $lightModel-DarkShadow);
      }
      .important-line {
        background: $lightModel-Orange;
        box-shadow: 0 0 5px $lightModel-Orange;
      }
      .content {
        @include boxShadowInset(
          $lightModel-LightShadow,
          $lightModel-DarkShadow
        );
        background: $lightModel-BGLinear;
      }
    }
  }
}
